# Ignore all .mp3 files except the specific ones
*.mp3
!forecast.mp3
!gardening_tips.mp3

# Ignore specific HTML files except the specific ones
*.html
!index.html

# Ignore markdown files except the specific ones
*.md
!output.md
!README.md

# Ignore specific Python files
config.py
ai_discussion.py
ai_discussion2.py
ai_discussion3.py
ai_discussion4.py
ai_discussion5.py
example usage2.py
multi_agent_experiment.py
Notion_experiment.py
openweather api test.py
openweather api test2.py
openweather api test3.py
openweather api test4.py
openweather api test5.py
!openweather_api_test7.py
web-qa.py
web-qa.ipynb

# Ignore specific txt files except the specific ones
*.txt
!requirements.txt

# Ignore specific directories
.idea/
etc/
include/
Lib/
Library/
Scripts/
share/
weather_garden/
extensions/

# Ignore specific cfg files
pyvenv.cfg
